= form_for(@record, class: "form-horizontal") do |f|
  - if @record.errors.any?
    #error_explanation
      %h2= "#{pluralize(@record.errors.count, "error")} prohibited this record from being saved:"
      %ul
        - @record.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :description
    = f.text_area :description, class: "decent"
  .field
    = f.label :amount
    = f.text_field :amount
  
  .row-fluid
    .span1
      %label.radio
        = f.radio_button :typenum, Record::Income
        Income

    .span1
      %label.radio
        = f.radio_button :typenum, Record::Expense
        Expense

    .span1
      %label.radio
        = f.radio_button :typenum, Record::Pending_income
        Pending Income
    
    .span1
      %label.radio
        = f.radio_button :typenum, Record::Pending_expense
        Pending Expense
  .field
    = f.label :time
    = f.datetime_select :time
  .field
    = f.text_field :sheet_id
  .actions
    = f.submit 'Save', class: "btn"
