= form_for @record do |f|
  - if @record.errors.any?
    #error_explanation
      %h2= "#{pluralize(@record.errors.count, "error")} prohibited this record from being saved:"
      %ul
        - @record.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :description
    = f.text_area :description, class: "decent"
  .field
    = f.label :amount
    = f.text_field :amount
  .radios_inline
    
    = f.radio_button :typenum, 1
    = f.label :typenum, "Income"
    
    = f.radio_button :typenum, 0
    = f.label :typenum, "Expense"
    
    = f.radio_button :typenum, 3
    = f.label :typenum, "Pending Income"
    
    = f.radio_button :typenum, 2
    = f.label :typenum, "Pending Expense"
  .field
    = f.label :time
    = f.datetime_select :time
  .field
    = f.label :sheet_id
    = f.text_field :sheet_id
  .actions
    = f.submit 'Save', class: "btn"
