%p#notice= notice

%p
  %b Description:
  = @record.description
%p
  %b Amount:
  = @record.amount
%p
  %b Income:
  = @record.income
%p
  %b Pending:
  = @record.pending

= link_to 'Edit', edit_record_path(@record)
\|
= link_to 'Back', records_path
